/* Tip Calculator */
.calculator-tip {
  display: inline-flex;
  flex-direction: column;
  padding: 0 3rem 2rem;
}

.calculator-tip__result {
  border-radius: 15px;
}

.calculator-tip__label {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}

.input {
  font-size: 1.8rem;
  margin: 1rem 0;
  padding: 1rem 1rem;
  border: none;
  border-radius: 5px;
  outline: 0;
}
.input--accent {
  color: var(--color-accent);
  background: var(--color-secondary);
  opacity: 0.7;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slider--accent::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--color-accent);
  cursor: pointer;
  border-radius: 50%;
}

.slider--accent {
  background: var(--color-secondary);
  color: var(--color-accent);
  opacity: 0.7;
  transition: opacity 0.2s;
}

.input--accent:hover,
.slider--accent:hover {
  opacity: 1;
}

.calculator-tip__result {
  padding: 1rem 1.5rem;
  margin-top: 2.5rem;
  font-size: 1.8rem;
}

.total {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 1rem 0;
}
.total__heading {
  margin: 0;
}

/* Numeric calculator */
.calculator {
  display: inline-flex;
  max-width: 300px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* width: 290px; */
  backdrop-filter: blur(16px) saturate(180%);
  border-radius: 12px;
  padding: 2rem;
}

.calculator__screen {
  font-size: 3rem;
  color: white;
  border-radius: 20px;
  text-align: end;
  width: 100%;
  padding: 0 1rem;
  border: none;
  outline: none;
  backdrop-filter: blur(16px) saturate(180%);
  background: linear-gradient(45deg, rgb(114, 114, 114), #494949);
  border-radius: 12px;
}

.calculator__btn {
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 100%;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(45deg, transparent, #494949);
  transition: transform 0.3s;
}

.calculator__btn:hover {
  transform: scale(0.95);
}

.calculator__btn-ch {
  color: var(--color-primary);
}

.calculator__btn-clr {
  color: #ef5b5b;
}

.calculator__btn-eq {
  border-radius: 25px;
  width: 100%;
  background: var(--color-primary);
  color: #fff;
}

/* Random Quote Generator */

.quote-gen {
  border-radius: 10px;
  display: grid;
  grid-template-rows: 50% 25% 25%;
  justify-items: center;
  align-items: center;
  padding: 3rem 3rem 1.5rem;
  font-size: 1.7rem;
  height: 300px;
  color: #fff;
}

.quote-gen__text {
  margin: 0;
}

.quote-gen__author {
  font-size: 2.2rem;
}
