<section class="block container block-apps">
  <div class="grid grid--1x3">
    <div class="app">
      <div class="card">
        <header class="card__header app__header">
          <svg class="icon icon--small icon--heading">
            <use xlink:href="images/sprite.svg#database-solid"></use>
          </svg>

          <h2 class="app__name">App1</h2>
          <p class="app__summary">
            I like to design databases and integrate with APIs
          </p>
        </header>

        <div class="card__body">
          <div class="link-app link-app--accent">
            <svg class="icon icon--small">
              <use xlink:href="images/sprite.svg#envelope-solid"></use>
            </svg>
            <a href="" class="link-app__url app__address"> www.google.com </a>
          </div>
        </div>
      </div>
    </div>

    <div class="app">
      <div class="card">
        <header class="card__header app__header">
          <svg class="icon icon--small icon--heading">
            <use xlink:href="images/sprite.svg#database-solid"></use>
          </svg>

          <h2 class="app__name">App1</h2>
          <p class="app__summary">
            I like to design databases and integrate with APIs
          </p>
        </header>

        <div class="card__body">
          <div class="link-app link-app--accent app__address">
            <svg class="icon icon--small">
              <use xlink:href="images/sprite.svg#envelope-solid"></use>
            </svg>
            <a href="" class="link-app__url"> www.google.com </a>
          </div>
        </div>
      </div>
    </div>

    <div class="app">
      <div class="card">
        <header class="card__header app__header">
          <svg class="icon icon--small icon--heading">
            <use xlink:href="images/sprite.svg#database-solid"></use>
          </svg>

          <h2 class="app__name">App1</h2>
          <p class="app__summary">
            I like to design databases and integrate with APIs
          </p>
        </header>

        <div class="card__body">
          <div class="link-app link-app--accent">
            <svg class="icon icon--small">
              <use xlink:href="images/sprite.svg#envelope-solid"></use>
            </svg>
            <a href="" class="link-app__url app__address"> www.google.com </a>
          </div>
        </div>
      </div>
    </div>

    <div class="app">
      <div class="card">
        <header class="card__header app__header">
          <svg class="icon icon--small icon--heading">
            <use xlink:href="images/sprite.svg#database-solid"></use>
          </svg>

          <h2 class="app__name">App1</h2>
          <p class="app__summary">
            I like to design databases and integrate with APIs
          </p>
        </header>

        <div class="card__body">
          <div class="link-app link-app--accent">
            <svg class="icon icon--small">
              <use xlink:href="images/sprite.svg#envelope-solid"></use>
            </svg>
            <a href="" class="link-app__url app__address"> www.google.com </a>
          </div>
        </div>
      </div>
    </div>

    <div class="app">
      <div class="card">
        <header class="card__header app__header">
          <svg class="icon icon--small icon--heading">
            <use xlink:href="images/sprite.svg#database-solid"></use>
          </svg>

          <h2 class="app__name">App1</h2>
          <p class="app__summary">
            I like to design databases and integrate with APIs
          </p>
        </header>

        <div class="card__body">
          <div class="link-app link-app--accent">
            <svg class="icon icon--small">
              <use xlink:href="images/sprite.svg#envelope-solid"></use>
            </svg>
            <a href="" class="link-app__url app__address"> www.google.com </a>
          </div>
        </div>
      </div>
    </div>

    <div class="app">
      <div class="card">
        <header class="card__header app__header">
          <svg class="icon icon--small icon--heading">
            <use xlink:href="images/sprite.svg#database-solid"></use>
          </svg>

          <h2 class="app__name">App1</h2>
          <p class="app__summary">
            I like to design databases and integrate with APIs
          </p>
        </header>

        <div class="card__body">
          <div class="link-app link-app--accent">
            <svg class="icon icon--small">
              <use xlink:href="images/sprite.svg#envelope-solid"></use>
            </svg>
            <a href="" class="link-app__url app__address"> www.google.com </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
