
    <div class="app">
        <div class="card">
          <header class="card__header app__header">
            <span class="icon-container icon-container--accent">
              <svg class="icon icon--heading">
                <use xlink:href="images/sprite.svg#database-solid"></use>
              </svg>
            </span>
  
            <h2 class="app__name">App1</h2>
            <p class="app__summary">
              I like to design databases and integrate with APIs
            </p>
          </header>
           
          <div class="card__body">
              <a href="" class="app__address">www.app1.com</a>
            </ul>
          </div>
        </div>
      </div>