<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad accusamus
      est, eos voluptatum dolor quidem reprehenderit dignissimos eveniet. Sed,
      perspiciatis.
    </p>
  </div>
</section>

<section class="block block--dark">
  <div class="block__header">
    <div class="container">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad accusamus
        est, eos voluptatum dolor quidem reprehenderit dignissimos eveniet. Sed,
        perspiciatis.
      </p>
    </div>
  </div>
</section>
