<button class="btn-group btn-group--accent btn-group--background">
  <svg class="icon icon--small">
    <use xlink:href="images/sprite.svg#handshake-simple-solid"></use>
  </svg>
  <span class="btn-group__text">Let's get in touch</span>
</button>

<button class="btn-group btn-group--outline btn-group--round">
  <svg class="icon icon--small">
    <use xlink:href="images/sprite.svg#handshake-simple-solid"></use>
  </svg>
</button>

<a
  href="https://www.google.com"
  target="_blank"
  class="btn-group btn-group--primary"
>
  <svg class="icon icon-background">
    <use xlink:href="images/sprite.svg#handshake-simple-solid"></use>
  </svg>
  <span class="btn-group__text">Let's get in touch</span>
</a>

<a
  href="https://www.google.com"
  target="_blank"
  class="btn-group btn-group--accent btn-group--stretched"
>
  <svg class="icon icon-background">
    <use xlink:href="images/sprite.svg#handshake-simple-solid"></use>
  </svg>
  <span class="btn-group__text">Let's get in touch</span>
</a>
