<div class="callout callout--primary">
  <div class="grid grid--1x3">
    <h2 class="callout__heading">Start a project</h2>

    <div class="callout__content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
        eligendi a cumque, ut sequi?
      </p>
    </div>
    <!-- <a class="btn-group btn-group--primary"> Hola </a> -->
    <button class="btn-group btn-group--primary btn-group--stretched">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#handshake-simple-solid"></use>
      </svg>
      <a href=""> Let's get in touch </a>
    </button>
  </div>
</div>
