<footer class="block block--primary footer">
  <div class="container grid">
    <header class="block__header">
      <a class="footer__brand">
        <svg>
          <use xlink:href="images/sprite.svg#square-h-solid"></use>
        </svg>
        <svg>
          <use xlink:href="images/sprite.svg#d-solid"></use>
        </svg>
      </a>

      <p class="footer__phrase">
        Experience is the name everyone gives to their mistakes
      </p>
    </header>
    <section class="footer__networks">
      <a class="btn-group btn-group--outline btn-group--round">
        <svg class="icon icon--small">
          <use xlink:href="images/sprite.svg#linkedin"></use>
        </svg>
      </a>

      <a class="btn-group btn-group--outline btn-group--round">
        <svg class="icon icon--small">
          <use xlink:href="images/sprite.svg#instagram"></use>
        </svg>
      </a>

      <a
        class="btn-group btn-group--outline btn-group--round btn-group--background"
      >
        <svg class="icon icon--small">
          <use xlink:href="images/sprite.svg#facebook"></use>
        </svg>
      </a>

      <a class="btn-group btn-group--outline btn-group--round">
        <svg class="icon icon--small">
          <use xlink:href="images/sprite.svg#envelope-solid"></use>
        </svg>
      </a>
    </section>

    <section class="footer__copyright">
      <p>Handcrafted by me &copy; 2022</p>
      <p>Pereira, Risaralda</p>
    </section>
  </div>
</footer>
