<svg class="icon">
  <use xlink:href="images/sprite.svg#terminal-solid"></use>
</svg>

<svg class="icon icon--small">
  <use xlink:href="images/sprite.svg#envelope-solid"></use>
</svg>

<svg class="icon icon--heading">
  <use xlink:href="images/sprite.svg#database-solid"></use>
</svg>

<span class="icon-container icon-container--accent">
  <svg class="icon icon--heading">
    <use xlink:href="images/sprite.svg#facebook"></use>
  </svg>
</span>

<svg class="icon icon--heading">
  <use xlink:href="images/sprite.svg#envelope-solid"></use>
</svg>

<svg class="icon">
  <use xlink:href="images/sprite.svg#facebook"></use>
</svg>

<svg class="icon">
  <use xlink:href="images/sprite.svg#handshake-simple-solid"></use>
</svg>

<svg class="icon">
  <use xlink:href="images/sprite.svg#instagram"></use>
</svg>

<svg class="icon">
  <use xlink:href="images/sprite.svg#linkedin"></use>
</svg>

<svg class="icon">
  <use xlink:href="images/sprite.svg#logo"></use>
</svg>

<svg class="icon">
  <use xlink:href="images/sprite.svg#settings"></use>
</svg>
