<svg class="icon icon--primary">
  <use xlink:href="images/sprite.svg#terminal-solid"></use>
</svg>

<span class="icon-container icon-container--outline">
  <svg class="icon icon--outline">
    <use xlink:href="images/sprite.svg#database-solid"></use>
  </svg>
</span>

<span class="icon-container icon-container--accent">
  <svg class="icon icon--heading">
    <use xlink:href="images/sprite.svg#envelope-solid"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#facebook"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#handshake-simple-solid"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#instagram"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#linkedin"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#logo"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#settings"></use>
  </svg>
</span>
