<svg class="icon">
  <use xlink:href="images/sprite.svg#terminal-solid"></use>
</svg>

<svg class="icon icon--small">
  <use xlink:href="images/sprite.svg#envelope-solid"></use>
</svg>

<svg class="icon icon--heading">
  <use xlink:href="images/sprite.svg#database-solid"></use>
</svg>

<span class="icon-container icon-container--accent">
  <svg class="icon icon--heading">
    <use xlink:href="images/sprite.svg#facebook"></use>
  </svg>
</span>

<svg class="icon icon--heading">
  <use xlink:href="images/sprite.svg#envelope-solid"></use>
</svg>

<!-- All icons -->

<svg class="icon">
  <use xlink:href="#database-solid"></use>
</svg>
<svg class="icon">
  <use xlink:href="#letterD"></use>
</svg>
<svg class="icon">
  <use xlink:href="#letterH"></use>
</svg>
<svg class="icon">
  <use xlink:href="#instagram"></use>
</svg>
<svg class="icon">
  <use xlink:href="#linkedin"></use>
</svg>
<svg class="icon">
  <use xlink:href="#pen-to-square-solid"></use>
</svg>
<svg class="icon">
  <use xlink:href="#handshake-simple-solid"></use>
</svg>
<svg class="icon">
  <use xlink:href="#envelope-solid"></use>
</svg>
<svg class="icon">
  <use xlink:href="#terminal-solid"></use>
</svg>
<svg class="icon">
  <use xlink:href="#settings"></use>
</svg>
