<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci qui
    debitis repellendus odio placeat. Perspiciatis rerum corporis voluptatibus
    consequuntur eveniet?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon quote__line">
          <use xlink:href="images/sprite.svg#instagram"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">FirstName LastName</h3>
        <p class="quote__organization">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
