<div class="skill">
  <div class="card">
    <header class="card__header">
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--heading">
          <use xlink:href="images/sprite.svg#database-solid"></use>
        </svg>
      </span>

      <h2 class="skill__name">Backend Developer</h2>
      <p class="skill__summary">
        I like to design databases and integrate with APIs
      </p>
    </header>
    <div class="card__body">
      <h3 class="skill__kit">Languages:</h3>
      <ul class="list list--inline">
        <li class="list__item">JavaScript,</li>
        <li class="list__item">TypeScript,</li>
        <li class="list__item">Node.js</li>
      </ul>

      <h3 class="skill__tools">Dev Tools:</h3>
      <ul class="list">
        <li class="list__item">Express</li>
        <li class="list__item">Winston</li>
        <li class="list__item">JWT</li>
      </ul>
    </div>
  </div>
</div>
