<section class="block">
  <header class="block__header">
    <h2>Testimonials</h2>
    <p>Some people I have worked with have said that...</p>
  </header>
  <div class="container container--medium">
    <div class="card testimonial">
      <div class="grid">
        <header class="card__header">
          <img
            class="testimonial__image"
            src="images/harold.png"
            alt="A happy, smiling customer"
          />

          <!-- <h2 class="testimonial__name">Testimonials</h2>
            <p class="testimonial__intro">
              Some people I have worked with have said that...
            </p> -->
        </header>
        <div class="card__body">
          <!-- <img
              class="testimonial__image"
              src="images/harold.png"
              alt="A happy, smiling customer"
            /> -->
          <blockquote class="quote">
            <p class="quote__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
              qui debitis repellendus odio placeat. Perspiciatis rerum corporis
              voluptatibus consequuntur eveniet?
            </p>
            <footer>
              <div class="media">
                <div class="media__image">
                  <svg class="icon quote__symbol">
                    <use xlink:href="images/sprite.svg#instagram"></use>
                  </svg>
                </div>
                <div class="media__body">
                  <h3 class="media__title quote__author">FirstName LastName</h3>
                  <p class="quote__organization">ABC Company</p>
                </div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
